main {
    min-height: 10vh;
    background-color:lightskyblue ;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 80px;
    font-family: Inter, sans-serif;
    font-weight: 200;
}
.bola{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
h1 {
    font-size: 1.75rem;
}
text{
    font-size: 1rem;
    max-width: 90vw;
    font-family: sans-serif;
}

@media (min-width: 800px){
    main{
        min-height: 80vh;
        flex-direction:row-reverse;
        flex-wrap: nowrap;
        align-items:center;
        justify-content:space-around ;
    }
    text{
        font-size: 1.5rem;
        max-width: 35vw;
    }
    .bola{
        width: 350px;
        height: 350px;
    }
}