.footer{
    min-height: 75vh;
    max-width: 100vw;
    background-image: url(https://wallpapercave.com/wp/Te4aJte.jpg);
    background-attachment: fixed;
    color: white;
}
.footer > h2 {
    margin-left: 20px;
    padding-top: 20px;
}
.footer span {
    margin-left: 20px;
}
.contatos_container{
    min-height: 25vh;
    max-width: 100vw;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 0px;
}
.contato_card{
    min-height: 5vh;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    color:white;
}